@use '../abstracts' as *;

.header {

    box-shadow: var(--box-shadow-01);

    &__container {
        @include mq-size-up($abs-tablet-landscape) {
            display: flex;
            justify-content: space-between;
            align-items: center
        }
    }

    &.box-shadow-bottom {
        box-shadow: var(--box-shadow-02);
    }

    &__logo-img {
        width: auto;
        height: 32px;
    }

    &__hamb-menu-icon {
        cursor: pointer;
    }

    .nav {
        @include mq-size-until(1200px) {
            &__menu {
                background: var(--bg-secondary);
                position: absolute;
                padding: $abs-space-m;
                right: 0;
                top: 0;
                width: 15rem;
                max-width: 78%;
                height: 100vh;
                display: none;

                .btn.close {
                    position: absolute;
                    left: -60px;
                    background: #fff;
                    border-radius: 50%;
                    border: none;
                }

                &.active {
                    display: block;
                }
            }

            &__body-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background: var(--body-bg-overlay);
                display: none;
            }
        }
    }
}