@use 'breakpoints' as bp;
@use 'functions' as f;

$space-4xl: 4rem; //64px;
$space-3xl: 2.5rem; //48px;
$space-2xl: 3rem; //40px;
$space-xl: 2rem; //32px;
$space-l: 1.5rem; //24px;
$space-m: 1rem; //16px;
$space-s: .75rem; //12px;
$space-xs: .5rem; //8px;
$space-2xs: .25rem; //4px;
$space-3xs: .125rem; //2px;

$l-space-0: 0px #{f.clamped(bp.$phone, bp.$desktop, 12px, 48px)};
$l-space-1: 8px #{f.clamped(bp.$phone, bp.$desktop, 12px, 48px)};