// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:wght@300,400,500,600,700&display=swap");


$abs-font-family-body: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
   "Helvetica Neue", Arial, sans-serif;
$abs-font-family-code: "Source Code Pro", Monaco, Consolas, "Courier New", monospace !default;
$abs-font-family-heading: "Poppins", Cambria, Georgia, Arial, serif;

$abs-min-base-font-size: 16px;
$abs-min-ratio: 1.125;
$abs-min-line-height: 1.5;

$abs-max-base-font-size: 16px;
$abs-max-ratio: 1.125;
$abs-max-line-height: 1.5;