@use '../abstracts' as *;

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer ";

    custom-header {
        grid-area: header;
        background: var(--bg-secondary);
        position: sticky;
        top: 0;
        z-index: 1;

        // set 'padding here, to not affect both 'custom-header' and 'header'
        header {
            padding: $abs-l-space-1;
        }
    }

    .main {
        grid-area: main;
        min-height: 100vh;
        padding: $abs-l-space-0;

        &__container {
            section {
                background: var(--bg-secondary);
                margin: $abs-space-m 0;
                padding: $abs-space-s;

                @include mq-size-up($abs-tablet-landscape) {
                    margin: $abs-space-l 0;
                }
            }
        }
    }

    custom-footer {
        grid-area: footer;
        background: var(--bg-secondary);
        //bottom: 0;
        //z-index: 1;

        // set 'padding here, to not affect both 'custom-footer' and 'footer'
        footer {
            padding: $abs-l-space-1;
        }
    }
}