@use '../abstracts' as *;

.card {
    max-width: 100%;
    width: 15.75rem;
    border: none;
    border-radius: 0;
    box-shadow: var(--box-shadow-01);

    img {
        border-radius: 0;
        object-fit: cover;
        height: 9rem;
    }

    &:hover {
        cursor: pointer;
        box-shadow: var(--box-shadow-02);

        img {
            filter: grayscale(25%);
        }
    }

    &-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &-link,
    .stretched-link {
        text-decoration: none;
    }
}