@use '../abstracts' as *;

.hero {
    position: relative;
    min-height: clamped(1200px, 600px, 450px, 400px);

    // for background-image
    &::before {
        content: "";
        @include custom-bg-linear-gradient(to right, var(--hero-bg-linear-gradient),
            url('../images/hero-bg-2.jpeg') no-repeat center center);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
    }

    &__content {
        position: absolute;
        max-width: 42rem;
        // Resolve o problema de contraste(cor do texto), relatados pela ferramenta WAVE
        -webkit-text-fill-color: #fff;
        filter: contrast(1);
        text-align: center;
        padding: $space-m;
    }

    // for video with overlay
    /*&__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include custom-bg-linear-gradient(to right, var(--bg-linear-gradient-01));
    }*/
}