@use '../abstracts' as *;
@use "../vendors/material-design/mixins" as md;

// scss variables
$primary: map-get($abs-primary, 500);
$secondary: map-get($abs-neutrals, 500);
$text-primary: map-get($abs-neutrals, 700);
$text-secondary: map-get($abs-neutrals, 500);

// css variables
:root,
[data-theme=default],
[data-theme=light] {
    // Main colors

    --primary: #{$primary};
    --secondary: #{$secondary};

    --text-primary: #{map-get($abs-neutrals, 700)};
    --text-primary-inverse: #{map-get($abs-neutrals, 0)};
    --text-secondary: #{map-get($abs-neutrals, 500)};

    --bg-primary: #{map-get($abs-neutrals, 300)};
    --bg-secondary: #{map-get($abs-neutrals, 0)};
    //--bg-tertiary: #{map-get($abs-neutrals, 100)};
    --bg-tertiary: #{map-get($abs-primary, 100)};

    // Linear gradients - Overlay
    --hero-bg-linear-gradient: rgba(0, 0, 0, .6), rgba(0, 0, 0, .5);
    --body-bg-overlay: rgba(31, 38, 45, .9); //#1f262d

    //  Link
    --link-01: var(--primary);
    --link-01-hover: var(--primary);

    // Shadows
    --box-shadow-01: #{md.materialShadow(1, map-get($abs-neutrals, 100))};
    --box-shadow-02: #{md.materialShadow(2, map-get($abs-neutrals, 100))};

    // Icons
    --icon-01: #{map-get($abs-neutrals, 700)};
    --icon-02: #{map-get($abs-neutrals, 500)};
    --icon-03: #{map-get($abs-neutrals, 0)};
}